.app {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.header {
    background-color: #000;
    height: 50px;
    display: flex;
    align-items: center;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    cursor: pointer;
    list-style: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.header__list-item {
    margin: 0 10px;
   
}

.footer__bottom-license:hover,
.header__list-item:hover .header__list-icon--white,
.header__list-item:hover .header__list-link {
    color: var(--green-color);
}

.header__list-icon {
    padding: 0 5px;
    font-size: 1.4rem;
    color: var(--green-color);
    cursor: pointer;
}

.header__list-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white-color);
    transition: var(--transtion-1);
}

.header__list-icon--white {
    font-size: 1.4rem;
    padding: 0 5px;
    color: var(--white-color);
    transition: var(--transtion-1);
}


.header__language-item {
    position: relative;
    line-height: 50px;
    background-color: var(--green-color);
    z-index: 2;
}

.header__language-link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 25px;
}

.header__language-link-icon {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: #ffffffa6;
}

.header__listsub {
    position: absolute;
    list-style: none;
    top: -105px;
    width: 112px;
    right: 0;
    background-color: var(--green-color);
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: var(--transtion-1);
    z-index: -1;
}

.header__listsub-item {
    border-top: 1px solid #ccc;
    padding: 0 12px;
}

.header__listsub-item:hover .header__listsub-link {
    letter-spacing: 3px;
    font-size: 1.7rem;
}

.header__listsub-link {
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    display: block;
    color: var(--white-color);
    transition: var(--transtion-1);
}

.header__language-item:hover .header__listsub {
    opacity: 1;
    transform: translateY(155px);
}

/* content */
.content__logo {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.content__logo-img {
    cursor: pointer;
    object-fit: contain;
    height: 80px;
}  

.content__navbar-list {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.content__navbar-item {
    padding: 33px 20px;
    cursor: pointer;

}

.content__navbar-item:hover .content__navbar-listsub {
    display: block;
}

.content__navbar-item:hover .content__navbar-link {
    color: var(--green-color);
}

.content__navbar-link {
    display: block;
    text-decoration: none;
    font-size: 1.9rem;
    color: #000;
    font-weight: 700;
    transition: var(--transtion-1);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.content__navbar-link--fisr-color {
    color: var(--green-color);
}

.content__navbar-listsub {
    padding: 0 10px;
    list-style: none;
    min-width: 257px;
    min-height: 275px;
    background-color: var(--white-color);
    margin: 20px 0;
    display: none;
    position: absolute;
    animation: cuonxuong .2s linear;
    z-index: 1;
}

.content__navbar-listsub-item {
    padding: 15px 0;
    text-align: left;
    border-bottom: 1px #000 dotted;
}

.content__navbar-listsub-item:hover .content__navbar-listsub-link {
    color: var(--green-color);
    letter-spacing: 2px;
    font-size: 1.7rem;
}

.content__navbar-listsub-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #000;
    display: block;
    font-weight: 600;
    transition: var(--transtion-1);
}

.content__navbar-listsub-item:last-child {
    border: none;
}

.content__navbar-listsub--end {
    position: absolute;
    right: 58px;
    min-height: 0;
}

.content__navbar-listsub--end li {
    text-align: right;
}

/* img */
.content__lage-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    margin-bottom: 60px;
}

.content__label:hover .content__label-img {
    box-shadow: 10px 10px 15px #00000087;
    margin-top: -5px;
    filter: brightness(1.19);
}

.content__label-img {
    width: 386px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    transition: var(--transtion-1);
}

.content__label {
    position: relative;
    cursor: pointer;
}

.content__label--label-click {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(45deg, #30b11f, #e59b0f);
    min-width: 50px;
    height: 50px;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    left: 10px;
    z-index: 1; 
    cursor: pointer;
    transition: var(--transtion-1);
}

.content__label--label-click1:hover,
.content__label--label-click1:hover  .content__label--label-icon,
.content__label--label-click:hover .content__label--label-icon,
.content__label--label-click:hover {
    color: rgb(69, 69, 189);
    background: linear-gradient(45deg,#e59b0f, #30b11f);
}

.content__label--label-click1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(45deg, #30b11f, #e59b0f);
    min-width: 50px;
    height: 50px;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    right: 10px;
    z-index: 1; 
    cursor: pointer;
    transition: var(--transtion-1);
} 

.content__label--label-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    transition: var(--transtion-1);  

}

/* travel */

.travel-tour {
    margin-left: 30px;
}

.travel-img {
    max-width: 347px;
    min-height: 231px;
    object-fit: cover;
}

.travel__content {
    max-width: 535px;
}

.travel-heading {
    margin: 0 0 30px 0;
    font-size: 2.7rem;
    font-weight: bold;
}

.travel-sub {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 0 20px 0;
}

.travel__data-heading {
    position: relative;
    margin: 15px 0 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.travel__data-list {
    height: 20px;
    border-radius: 5px;
}

.travel__data-item {
    height: 100%;
    border-radius: 5px;
    width: calc(535px - 50%);  
    background-color: #3fd0d4;
    
}

.travel__data-item-2 {
    width: calc(535px - 10%); 
    background-color: #3fd0d4;
}

.travel__data-item-3 {
    width: calc(535px - 13%); 
    background-color: #3fd0d4;
}

.travel__data-span {
    display: inline-block;
    position: absolute;
    left: calc(100% - 27px);
}

/* tour */

.section-tour {
    margin: 90px auto 0 auto;
    max-width: 535px;
}

.section-heading {
    text-align: center;
    font-size: 3.8rem;
}

.section-sub {
    font-size: 1.9rem;
    line-height: 2.4rem;
    text-align: justify;
}

/* lay out */

.tour__layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 300px 100px 200px;
    grid-gap: 20px;
    margin: 45px 0;
}

.tour__layout-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.tour__layout-item:hover .tour__layout-img {
    filter: brightness(1.2);
    transform: scale(1.005);
}

.tour__layout-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transtion-1);
}

.tour__layout-item:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
}

.tour__layout-item:nth-child(2),
.tour__layout-item:nth-child(3) {
    grid-row: 1/3;
}

.tour__layout-item:nth-child(4),
.tour__layout-item:nth-child(5) {
    grid-row: 2/4;
}

.tour__layout-item:last-child {
    grid-column: 3/5;
}

.tour__layout-text {
    position: absolute;
    bottom: 3px;
    min-width: 150px;
    min-height: 75px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 76%, 91% 76%, 96% 100%, 76% 76%, 0% 75%);
    background: #ffffffed;
    text-align: center;
    color: #333;
    right: 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    user-select: none;
}

.tour__layout-heading {
    font-size: 2.4rem;
    color: #333;
    font-weight: 900;
    margin: 19px 0;
    padding: 0 0 0 5px;
}

.tour__layout-sub {
    font-size: 1.7rem;
    margin-left: 10px;
}

/* travel-time */

.travel__time-number {
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 5.2rem;
    line-height: 1rem;
}

.travel__time-text {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
}

.travel__time-sub {
    text-align: center;
    font-size: 1.7rem;
    line-height: 2rem;
}

.travel__audio-item {
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
}

.introduce-section-frist {
    margin-top: 150px;
}

.introduce-section__intro-heading {
    font-size: 3.4rem;
    font-weight: 600;
    margin: 0;
    line-height: 3.4rem;
}

.introduce-section__intro-sub {
    font-size: 1.6rem;
    width: 626px;
    line-height: 2.2rem;
    margin: 31px 0 0 0;
}

.introduce-section-list {
    margin-top: 63px;
}

.introduce-section_list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.introduce-section_list-subtext {
    font-size: 1.7rem;
    margin: 0 20px;
    text-align: left;
    line-height: 2.2rem;
}

.footer {
    margin-top: 160px;
    -webkit-tap-highlight-color: transparent;
}

.footer__end {
    background-color: #212121;
}

.footer__col {
    padding-top: 106px;
}

.footer__content {
    color: var(--white-color);
}

.footer__text {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 20px 0 0 0;
    transition: var(--transtion-1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.footer__label-sub-heading:hover,
.footer__label-heading:hover,
.footer__text-heading:hover,
.footer_contact-inducle:hover,
.footer__text:hover {
    color: var(--green-color);
}

.footer__contact {
    margin-top: 20px;
}

.footer_contact-inducle {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transtion-1);
}

.footer__contact-text {
    font-size: 1.4rem;
    margin: 7px 10px;
}

.footer_contact-icon {
    font-size: 1.4rem;
}

.introduce-section__label-right {
    position: relative;
}

.introduce-section__label-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer__text-heading {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin: 0 0 36px 0;
    cursor: pointer;
    transition: var(--transtion-1);
    -webkit-tap-highlight-color: transparent;
}

.footer__label-heading {
    color: #9f9f9f;
    font-size: 1.4rem;
    line-height: 2.2rem;
    cursor: pointer;
    transition: var(--transtion-1);
}

.footer__label-sub-heading {
    font-size: 1.5rem;
    margin-top: 25px;
    cursor: pointer;
    transition: var(--transtion-1);
}

.footer__content-list-item {
    min-width: 50px;
    min-height: 50px;
    background: #595959;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.footer__content-list-icon {
    margin: 0 0 0 10px;
    color: #fff;
    font-size: 2rem;
}

.footer__content-list-input {
    line-height: 50px;
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    background: none;
    position: relative;
}

.footer__content-list-btn {
    width: 100%;
    font-size: 1.6rem;
    padding: 25px 0;
    background: var(--green-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transtion-1);
}

.footer__content-list-item:hover .footer__content-list-btn {
    background-color: #fff;
    color: #000;
}

.footer__bottom-license {
    color: #fff;
    border-top: 1px solid #8282828a;
    margin: 20px 0 0 0;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--transtion-1);
}